name: email_sender

on:
  workflow_dispatch: 
  schedule:
  #  - cron: '0 23 * * *'  # Runs every day at 3am GMT-3

permissions: write-all # Give the workflow permission to write to the repository

jobs:
  run-selenium:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas selenium xlrd reportlab google-api-python-client google-auth google-auth-oauthlib google-auth-httplib2
      
      - name: Do main run
        env:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          sender: ${{ secrets.SENDER }}
          GSA_CREDENTIALS: ${{ secrets.GSA_CREDENTIALS }}
          EMAIL_MAP_BASE64: ${{ secrets.EMAIL_MAP_BASE64 }}
        run: python scripts/main.py
